
.wrapper {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.wrapper .top{
    width: 100%;
    height: 53px;
    background-color: rgb(73,158,243);
}
.wrapper .main{
    width: 100%;
    height: calc(100% - 53px);
    background-color: #bbb;
}